.menu {
  background-color: #f9f9f9;
  margin: 16px 0 16px 0;
  border: 3px solid #f9f9f9;
  padding: 6px;
  cursor: pointer;
}
#food-template {
  background-color: red;
  display: none;
}
.food-image {
  background-color: grey;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  height: 150px;
}
